{% extends 'base.html' %}

{% block title %}Cart Details{% endblock %}

{% block content %}
<div class="container py-5">
    <h1 class="mb-4">Your Cart</h1>
{% if cart_items %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart_items %}
            <tr>
                <td>{{ item.product.name }}</td>
                <td disabled>₹ {{ item.product.price }}</td>
                <td>{{ item.quantity }}</td>
                <td>₹ {{ item.get_total_price }}</td>
                <td>
                    <a href="{% url 'cart:remove_from_cart' item.product.id %}" class="btn btn-danger">Remove</a>
                </td>
            </tr> 
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3"><strong>Total Price</strong></td>
                <td>₹ {{ total_price }}</td>
                <td><a href="{% url 'cart:place_order' %}" class="btn btn-success">Place order</a></td>
            </tr>
        </tfoot>
    </table>
    
{% else %}
<p>Your cart is empty.</p>
{% endif %}

</div>

{% endblock %}